@import url("reset.css");

h1{
    color: green;
}
/* Анатомія CSS */

/* Селектор - запит (пошук) елемента в HTML файлі до якого підключений данний CSS-файл */

/* 
від "select" - обирання чогось.
селектор{
    css parametr;
    css parametr;
    ...
}
*/

/* CSS parametr:  */
/* css властивість: значення властивості */

/*! Типи селекторів */

/* Тип 0. Селектор зірочка */
/* Шукаємо (робимо запит) до всіх об'єктів. Звертаємось до всіх об'єктів, щоб пофарбувати їх у зелений. (застосувати цей параметр до всіх об'єктів. */

*{
    /* color: green; */
}

/* Тип 1. Селектор тегу */
/* Шукаємо по назві тегу */
/* Приклад. Звертаємось до усіх тегів div на сторінці */

div.regular-div{
    color: red;
}

a{
    color:violet;
}

/* Тип 2. Селектор класу */
/* Шукаємо по назві класу */
/* спочатку КРАПКА потім ім'я класу .text{} */

.maintexth2-1{
    color:blueviolet;
}

/* Тип 3. Селектор ID */
/* Шукаємо по ID */
/* спочатку # потім ім'я ID */

#ph2-2{
    color:red;
}

/*! Комбінацї селекторів */

/* Усі div з класом text */
/* Приклад: div.text{} Таким чином ми звужуємо пошук, конкретизуємо запит */

div.maintexth2-2{
    color:yellowgreen;
}

/* Усі теги з класами lesson та text одночасно. Без пробілів між класами у CSS
Може виглядати в html так: <div class="lesson text"></div> Вказуються класи через ПРОБІЛ у хтмл.
*/

.maintexth2-3.texth2-3{
    color:green;
}

/* Звертаємось відразу до кількох класів */

/* Скороченний варіант */
.textone, .texttwo{
    color: red;
}

/* Розгорнутий варіант. Щоб не писати ось так */
.lesson{

}
.text{
    /* color: red; */
}

/* !Каскадність (вкладенність) селекторів */
/* ОБОВ'ЯЗКОВО ПРОБІЛ МІЖ ЕЛЕМЕНТАМИ */

/* Усі теги "p" в середені об'єктів з класом text */
.last p {
    color:red;
}
.maintexth2-4 ul{
    color:blue;
}

/* Усі об'єкті з класом lesson в середені об'єктів з класом text */
.maintexth2-4 .text1{
    color:tomato
}

/* Усі об'єкти в середені об'єкту з класом text */
.specialtext * {
    color: aquamarine; /* фарбуєтся тут слово null в хтмл, який вважаэться об'єктом "mark" */
}

/* Усі теги "p" першого рівня вкладенності (безпосередні) в середені об'єктів з класом text (тобто вкладенність в html коді, іерархія тегів 
<div> 
    <p> </p>
</div>
*/

.text > p{

}
.maintexth2-4 > p{
    color:chocolate
}

/* Усі теги "p", які знаходяться далі по коду після об'єктів з класом text та мають той самий рівень вкладенності як і сам об'єкт за класом text */

.specialtext ~ p{
    color:teal;
}

/* Тег "p", який знаходиться безпосередньо далі по коду після об'єктів з класом text та мають той самий рівень вкладенності, як і сам об'єкт з класом text 
    Те саме, шо і ~ але якщо тег "р" одразу після того об'єкта з класом text (безпосередньо)
*/

.lasttext + p{
    color:brown;
}

/*! Селектори атрибутів */
/* Звертаємось до класу(усіх класів), в атрибуті якого є задана частина і застосовуємо стиль до них всіх */

[class*="__container"]{
    color: green;
}
/* Щоб не робити так, якщо їх может бути 50 */
/* .main__container, .about__container{
    color:green;
} */


/*! Пріорітети селекторів */

/* Основні правила формування пріорітетів:
1. У випадку різнозначних селекторів більший пріоритет буде у останнього по коду.
2. Більший пріоритет завжди буде у селектора, який звужує (уточнює, конкретизує) пошук (запит). ID майже найвищий пріоритет.
3. Пріоритет у рядкових (inline) стилів (атрибут style=""). Найпріоритетніший. 
Приклад: у html в тегу: <div style="color:blue"></div>
4. Флаг !important перезаписує пріоритет (не рекомендується)
*/

/* 
    До 4-го правила. 
.text {             Пріоритет буде у .text
    color: red;
}
div {               Але застосується цей через флаг !important
    color: green !important; 
} */

/*! Актуальні питання */

/* В чому різниця між .text.lesson та .text .lesson? */
/* Звертаємось до об'єкту у якого одночасно є клас .text та клас .lesson */
.text.lesson{

}

/* Звертаємось до об'єктів з класом .lesson, які вкладені в об'єкти з класом .text */
.text .lesson{

}

/* Приклад.
Якщо в html 
<h1 class="main__title title">
    text
</h1>
То ми можемо їх об'єднати під одним класом:
*/

.title{
    /* color:red; */
}

/* Приклади вкладеності */
.list > li{
    /* color:red; */
}

.list > li > ul{
    /* color:green; */
}

h1{
    /* color: red; */
}